ReactProjectASPNETCore-Backend/obj/
ReactProjectASPNETCore-Backend/bin/Release/
ReactProjectASPNETCore-Backend/bin/Debug/
javascript-react-hello-world/obj/
javascript-react-hello-world/.vs/
javascript-react-hello-world/.vscode/
